.env
.DS_Store
**/.DS_Store
data/pharmacy_sales_cleaned.xlsx

# ML artifacts
mlruns/
notebook/mlruns/
notebook/catboost_info/
notebook/models/
*.joblib
*.pkl
*.h5
.venv/
mlruns

# airflow
airflow/start_airflow.sh
airflow/plugins/__pycache__
airflow/dags/__pycache__
airflow/airflow.db
airflow/airflow.cfg
airflow/generate_password.py
airflow-status.sh
airflow/logs

# API
pipelines/API/__pycache__

data
.vscode
pipelines/__pycache__
pipelines/utils/__pycache__