.env
*DS_Store
DS_Store
data/pharmacy_sales_cleaned.xlsx
mlruns
notebook/mlruns
notebook/catboost_info
# ML artifacts

notebook/models/
*.joblib
*.pkl
*.h5
mlruns/
.venv/

# airflow
airflow/start_airflow.sh
airflow/plugins/__pycache__
airflow/dags/__pycache__

# API
pipelines/API/__pycache__

.vscode